@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #9a9a9a7a;
  border-radius: 3px;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}
